<div class="col-xs-12">
	<div class="col-xs-12 text-center page-header"><h2 class="h2 text-uppercase"></h2></div> 
	<div class="col-xs-offset-2 col-xs-8">
		<div class="spacer20"></div>
		<div class="row" >						
				<div class="col-xs-3">
					<input type="text" name="name" class="form-control" ng-model="genre.name" placeholder="Enter Genre Name">
					<br/>							
				</div>	
				<div class="col-xs-3">
					<button class="btn btn-primary" role="button" ng-click="addNewGenre()">Add New Genre</button>	
								
				</div>
				<div class="row" >						
				<div class="col-xs-3">
					<input type="text" name="name" class="form-control" ng-model="genre.name" placeholder="Enter New Genre Name">
					<br/>							
				</div>	
				<div class="col-xs-3">
					<button class="btn btn-success" role="button" ng-click="edit(editId)">Update Genre</button>	
							
				</div>
			</div>
			</div>
			<div class="row spacer20"></div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<uib-pagination boundary-links="true" total-items="totalItems"  items-per-page="itemsPerPage" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()" previous-text="Previous" page-label="pageLabel($page)" next-text="Next" first-text="First" last-text="Last"></uib-pagination>
				</div>			
			</div>
		<div class="row">
			<div class="row">
				<div class="col-xs-4">
					<div class="row" ng-hide="addClicked || editClicked">
				
			</div>	
				</div>
				
			</div>
			<div class="row spacer20"></div>
				<table class="table table-striped" >
    <thead>
      <tr >
        
        <th>Genre Id</th>
        <th>Genre Name</th>
        <th>Edit</th>
      
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="genre in filteredGenres | orderBy: genre.name">
        <td>{{genre.id}}</td>

         <td>

        <div class="col-xs-4">
		<input type="text" name="name" class="form-control" ng-model="genre.name" placeholder="Enter New Genre Name">
		<br/>							
		</div>	
		</td>

        <td><button class="btn btn-danger" role="button" ng-model="genre.id" ng-click="editGenre(genre.id)">Edit</button></td>
       

      </tr>
     
    </tbody>
  </table>
				
			</div>	
			
			<div class="row spacer20"></div>
						
		</div>
	</div>
</div>